@import 'base/variables';
@import 'base/mixins';

@import 'blocks/buttons';
@import 'blocks/aside';
@import 'blocks/header';
@import 'blocks/carousel';
@import 'blocks/hr';
@import 'blocks/article';
@import 'blocks/titles';
@import 'blocks/footer';

@import 'libs/font';

body
 background-color: $background-color
 font-family: sf ui display, sans-serifs

.wrapper
 min-height: 100%
 position: relative
 max-width: 1440px
 margin: 0 auto

main
 padding: 0 50px
 display: block
 overflow: hidden